<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" @onchange="OnTipoDeItemChanged">
    <option selected value="">Selecione uma opção</option>
    @foreach (var tipo in _tipo)
    {
        <option value="@tipo">@tipo</option>
    }
</select>
@code {

    private List<string> _tipo = new();

    [Parameter]
    public string? TipoDeItem { get; set; }

    [Parameter]
    public EventCallback<string> TipoDeItemChanged { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _tipo = new List<string>() { "Produto", "Embalgem", "Limpeza" };
        await base.OnInitializedAsync();
    }

    public async Task OnTipoDeItemChanged(ChangeEventArgs e)
    {
        TipoDeItem = e?.Value?.ToString();
        await TipoDeItemChanged.InvokeAsync(TipoDeItem);
    }

}
